/* About Me */
.p-profil img {
    border: 10px solid #e9e9e9;
    border-radius: 50px;
    transition: all ease-in-out 0.3s;
}
.p-profil:hover img{
    border: 10px solid #96bcdf;
}
@media screen and (max-width: 600px) {
    .p-profil img{
        /* width: 70%; */
    }
}





/* Skills */
.skills .icon-box {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding: 50px 20px 50px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
    margin: 20px auto;
    position: relative;
}

.skills .icon-box:before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.842);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
}

.skills h4,
.skills .progress {
    position: relative;
}

.skills .icon-box h4 {
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 24px;
    color: #45505b;
}

.skills .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.09);
}

.skills .iconbox-blue i {
    color: #47aeff;
}

.profile-area .icon-box1{
    background: url("../../src/skill-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-area .icon-box2{
    background: url("../../src/skill-webdev.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-area .icon-box3{
    background: url("../../src/skill-videoedit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-area .icon-box4{
    background: url("../../src/skill-3d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Portfolio Section */
#portfolio-flters li a.btn {
    background: #0563bb;
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
#portfolio-flters li a.btn:hover {
    background: #47aeff;
    color: #0563bb;
    border-radius: 25px;
}

.section-title p span {
    font-weight: 600 !important;
    color: #0563bb;
}






/* Clients */
.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: inline;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}